<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 8px;
            background-color: rgb(32, 32, 32);
            color: snow;
        }
    </style>
</head>
<body>
    <h1>Hello <%= name %>!!!</h1>
</body>
</html>